@if $show_lock_icons_for_staff =="true" {

    body:not(.staff) {

      .menu-panel .search-link,
      .menu-panel .categories-link,
      .search-menu .results .restricted,
      .badge-category__wrapper,
      .category-drop .restricted,
      [href^="/chat/c/"],
      [href^="/c/"],
      .category-title-name {
         .d-icon-lock,
        [class*="d-icon-category.restricted"] {
          display: none;
        }
      }
    }
}

@else {

    .menu-panel .search-link,
    .menu-panel .categories-link,
    .search-menu .results .restricted,
    .badge-category__wrapper,
    .category-drop .restricted,
    [href^="/chat/c/"],
    [href^="/c/"],
    .category-title-name {
       .d-icon-lock,
      [class*="d-icon-category.restricted"] {
        display: none;
      }
    }
}

