@import "str-to-list";

$list: str-to-list("#{$categories_and_channels}", "|");
$nested-list: (
);

@if $categories_and_channels !="" {

  @each $categoryID in $list {
    @if $show_lock_icons_for_staff =="true" {
      body:not(.staff) {
 
        .menu-panel .search-link[data-category-id="#{$categoryID}"],
        .menu-panel .categories-link[data-category-id="#{$categoryID}"],
        .search-menu .results .restricted[data-category-id="#{$categoryID}"],
        .badge-category__wrapper [data-category-id="#{$categoryID}"],
        .category-drop [data-value="#{$categoryID}"] .restricted,
        .sidebar-section-link[data-category-id="#{$categoryID}"],
        .chat-drawer-header__title[data-category-id="#{$categoryID}"],
        .chat-channel-title.is-category[data-category-id="#{$categoryID}"],
        #public-channels > a[data-category-id="#{$categoryID}"] {
          .d-icon-lock {
            display: none;
          }
        }
      }
    } 

    @else {

      .menu-panel .search-link[data-category-id="#{$categoryID}"],
      .menu-panel .categories-link[data-category-id="#{$categoryID}"],
      .search-menu .results .restricted[data-category-id="#{$categoryID}"],
      .badge-category__wrapper [data-category-id="#{$categoryID}"],
      .category-drop [data-value="#{$categoryID}"] .restricted,
      .sidebar-section-link[data-category-id="#{$categoryID}"],
      .chat-drawer-header__title[data-category-id="#{$categoryID}"],
      .chat-channel-title.is-category[data-category-id="#{$categoryID}"],
      #public-channels > [data-category-id="#{$categoryID}"] {
        .d-icon-lock {
          display: none;
        }
      }
    }
  }
}

@else {
  @if $show_lock_icons_for_staff =="true" {

    body:not(.staff) {

      .menu-panel .search-link,
      .menu-panel .categories-link,
      .search-menu .results .restricted,
      .badge-category__wrapper,
      .category-drop .restricted,
      [href^="/chat/c/"],
      [href^="/c/"] {
        .d-icon-lock {
          display: none;
        }
      }
    }
  }

  @else {

    .menu-panel .search-link,
    .menu-panel .categories-link,
    .search-menu .results .restricted,
    .badge-category__wrapper,
    .category-drop .restricted,
    [href^="/chat/c/"],
    [href^="/c/"] {
      .d-icon-lock {
        display: none;
      }
    }
  }
}
